.container {
  padding: 20px 15px;
  @screen lg {
    padding: 80px 0;
  }
}

.highlightFirst {
  height: calc(100vw * 50 / 71);
  h6 {
    @apply text-white;
  }
  h1 {
    margin-top: 10px;
  }

  @screen lg {
    height: calc(100vw * 5 / 16);
    h1 {
      margin-top: 15px;
      max-width: 80%;
    }
  }
}

.mainBlock {
  @apply p-0;
  @apply flex-1;

  @screen lg {
    flex: 2;
  }
}

.articleContent {
  h5 {
    margin-top: 50px;
  }
  p {
    margin-top: 30px;
  }

  img:nth-child(1) {
    margin-bottom: 40px;
    + p,
    h5 {
      margin-top: 0;
    }
  }

  img:nth-child(n + 2) {
    margin: 40px 0;
    + p,
    h6 {
      margin-top: 0;
    }
  }
}

.articleRouting {
  @apply justify-between;
  @apply p-0;
  margin-top: 40px;
  margin-bottom: 50px;
  border-top: 1px solid #ececec;

  @screen lg {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.articleRoutingBtnContainer {
  margin-top: 30px;
  @screen lg {
    flex: 0.43;
  }
}

.articleRoutingBtn {
  &:hover {
    h6 {
      @apply text-primary;
    }
  }
  h6 {
    @apply text-h6;
  }
  p {
    margin-top: 5px;
  }
  svg {
    color: #bbb;
    height: 21px;
    width: 11px;
  }
}

.right {
  text-align: right;
}

.leftIcon {
  margin-right: 20px;

  svg {
    transform: rotate(180deg);
  }
}

.rightIcon {
  margin-left: 20px;
}

.subBlock {
  @apply flex-1;
  @apply justify-start;
  @apply p-0;
  @screen lg {
    margin-left: 30px;
  }
}

.relativeBlogHeading {
  @apply text-h5;
  @apply uppercase;
  margin-top: 10px;
}

.relativeBlogsContainer {
  @apply flex;
  @apply flex-wrap;
  @apply justify-between;
  @apply p-0;
}

.relativeBlogContainer {
  @apply flex;
  margin-top: 30px;
  width: 100%;

  @screen lg {
    width: calc(50% - 15px);
    margin-top: 40px;
  }
}

.cardBlogContainer {
  padding: 0 !important;
  border: 1px solid #ececec;
}

.cardBlogImage {
  @apply relative;
  @apply w-full;
  padding-bottom: 65% !important;
  > img {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
    @apply object-center;
  }
}

.cardBlogMainContent {
  @apply flex;
  @apply flex-col;
  @apply flex-1;
  padding: 20px;

  > p {
    margin-top: 10px !important;
    margin-bottom: 40px;
    @apply flex-1;
  }

  > p:last-child {
    font-size: 13px;
    flex: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 15px 20px;
    color: #999999;
    box-shadow: 0 -1px 0 0 #ececec;
  }
}

.pinCard {
  border: 1px solid #e3e3e3;
  padding: 40px 30px;
  margin-top: 50px;

  h5,
  p {
    @apply text-center;
  }

  h5 {
    @apply uppercase;
  }

  p {
    margin-top: 15px;
  }

  @screen lg {
    margin-top: 30px;
    padding: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.pinCardImg {
  @apply relative;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  padding-bottom: 80%;

  img {
    @apply absolute;
    @apply top-0;
    @apply m-0-auto;
    @apply max-h-full;
    padding-bottom: 50px;
  }
}

.recentlyCardContainer {
  @apply items-start;

  margin-top: 30px;
  &:nth-of-type(1) {
    margin-top: 35px;
  }
  > div {
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    img {
      @apply w-full;
      @apply h-full;
      @apply object-cover;
    }
  }

  a {
    flex: 1;
  }
}
