.highlightFirst {
  height: calc(100vw * 10 / 9);
  h1 {
    margin-bottom: 20px;
  }

  a {
    @apply uppercase;
    @apply font-h1;
  }

  @screen lg {
    height: calc(100vw * 5 / 12);
  }
}

.highlightTextScript {
  margin-top: 30px;

  @screen lg {
    margin-top: 0px;
  }
}

.highlightHeading {
  margin-top: 15px;
  text-transform: uppercase;
}

.highlightDescription {
  > p {
    color: #63666b;
    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-top: 20px;
    }
  }
}

.highlightBtn {
  margin-top: 40px;
}

.groupCardContainer {
  padding: 0;
  padding-top: 30px;

  @screen lg {
    padding-top: 60px;
  }
}

.cardWrapper {
  padding: 15px 0;
  flex-direction: unset;

  @screen lg {
    padding: 0 15px;
  }
}

.cardContainer {
  > h5 {
    @apply font-h5;
    @apply leading-h5;

    margin-top: 30px;
  }

  > p {
    margin-top: 10px;
    text-align: center;
  }
}

.highlightDescriptionSecond {
  margin-bottom: 40px;
  > p {
    margin-top: 20px;
    &:last-child {
      margin-top: 10px;
    }
    &:not(:first-child) {
      &::before {
        content: "•";
        margin-right: 15px;
      }
    }
  }
}

.highlightThird {
  background-color: #fff;

  h3 {
    color: #000;
  }
}

.rowReverse {
  @screen lg {
    flex-direction: row-reverse;
  }
}

.menuContainer {
  @screen lg {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.productCardsWrapper {
  margin-top: 30px;
}

.productCardRowContainer {
  padding: 0;
  @screen lg {
    margin-top: 30px;
  }
}

.productCardContainer {
  padding: 0 !important;
}

.productImg {
  @apply w-full;
  @apply h-full;
  @apply object-cover;
}

.contentFeedbackWrapper {
  display: block !important;
  > img {
    top: 0;
    left: 0;
  }
  @screen lg {
    display: flex;
  }
}

.contentFeedbackContainer {
  margin: 0 auto;
  p {
    text-align: center;
  }
}

.feedbackCarousel {
  margin-top: 30px;
  align-self: stretch;
  [class*="slick-track"] {
    align-items: center;
    display: flex;
  }

  [class*="slick-slide"] {
    margin: 0 15px;
    // max-width: 570px;
  }

  [class*="slick-next"] {
    width: 40px;
    height: 40px;
    right: -5px;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      content: "";
      background-image: url("/assets/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      @apply text-white;
      @apply bg-primary;
      opacity: 1;
      width: 40px;
      height: 40px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  [class*="slick-prev"] {
    width: 40px;
    height: 40px;
    left: -5px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
    &::before {
      content: "";
      background-image: url("/assets/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      @apply text-white;
      @apply bg-primary;
      opacity: 1;
      width: 40px;
      height: 40px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  @screen lg {
    margin-top: 60px;
  }
}

.cardFeedbackContainer {
  display: flex !important;
  justify-content: space-between !important;
  padding: 40px 30px !important;
  min-height: 438px;
  > div {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h5 {
      margin-top: 26px;
    }
    > p {
      margin-top: 15px;
    }
  }
  @screen lg {
    padding: 50px !important;
  }
}

.cardFeedbackAvatar {
  @apply object-cover;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-top: 20px;
  @screen lg {
    margin-top: 30px;
  }
}

.slickDots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  li {
    width: 33px;
    height: 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(#fff, 0.3);
    > button {
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }

  [class*="slick-active"] {
    @apply bg-primary;
  }

  @screen lg {
    margin-top: 50px;
  }
}

.cardsBlogContainer {
  padding: 0;
  margin-bottom: 30px;
  @screen lg {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 50px;

    > .cardBlogWrapper:not(:first-child) {
      padding-left: 30px;
    }
  }
}

.cardBlogWrapper {
  padding: 0;
  margin-top: 30px;

  @screen lg {
    margin-top: 0;
  }
}

.cardBlogContainer {
  padding: 0 !important;
}

.cardBlogImage {
  @apply relative;
  @apply w-full;
  padding-bottom: 65% !important;
  > img {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
    @apply object-center;
  }
}

.cardBlogMainContent {
  @apply flex;
  @apply flex-col;
  @apply flex-1;
  padding: 20px;

  > p {
    margin-top: 10px !important;
    margin-bottom: 40px;
    @apply flex-1;
  }

  > p:last-child {
    font-size: 13px;
    flex: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 15px 20px;
    color: #999999;
    box-shadow: 0 -1px 0 0 #ececec;
  }
}
