.container {
  @apply self-start;
  @apply w-full;
  margin-bottom: 20px;

  [class*="MuiPagination-root"] {
    @apply flex-1;
  }

  [class*="MuiPaginationItem-root"] {
    @apply flex-1;
    @apply font-default;
    @apply text-h6;
    @apply leading-h6;
    @apply m-auto;
    color: #5b6175;
    height: 46px;
    min-width: 46px;

    @screen lg {
      margin-right: 10px;
    }
  }

  [class*="Mui-selected"] {
    @apply text-white;
    @apply bg-primary #{!important};
    border: none;
  }

  [class*="MuiPaginationItem-outlined"] {
    border: 1px solid #ececec;
  }

  [class*="MuiPaginationItem-rounded"] {
    border-radius: 10px;
  }

  [class*="MuiPagination-ul"] {
    @apply flex-1;
    justify-content: space-between;
    display: flex;
    > li {
      @apply flex;
    }
  }

  [class*="MuiPaginationItem-ellipsis"] {
    height: auto;
  }

  [class*="Mui-disabled"] {
    opacity: 1 !important;
    color: #bbb;
  }

  @screen lg {
    @apply w-auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
