@tailwind base;

/* Write your own custom base styles here */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito;
  line-height: 24px;
  font-size: 15px;
  @apply bg-body;
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-default;
  @apply text-h;
}

h1 {
  @apply font-h1-mob;
  @apply leading-h1-mob;
  @apply text-h1-mob;
  @screen lg {
    @apply font-h1;
    @apply leading-h1;
    @apply text-h1;
  }
}

h2 {
  @apply font-h2-mob;
  @apply leading-h2-mob;
  @apply text-h2-mob;
  @screen lg {
    @apply font-h2;
    @apply leading-h2;
    @apply text-h2;
  }
}
h3 {
  @apply font-h3-mob;
  @apply leading-h3-mob;
  @apply text-h3-mob;
  @screen lg {
    @apply font-h3;
    @apply leading-h3;
    @apply text-h3;
  }
}
h4 {
  @apply font-h4-mob;
  @apply leading-h4-mob;
  @apply text-h4-mob;
  @screen lg {
    @apply font-h4;
    @apply leading-h4;
    @apply text-h4;
  }
}
h5 {
  @apply font-h5-mob;
  @apply leading-h5-mob;
  @apply text-h5-mob;
  @screen lg {
    @apply font-h5;
    @apply leading-h5;
    @apply text-h5;
  }
}
h6 {
  @apply font-h6-mob;
  @apply leading-h6-mob;
  @apply text-h6-mob;
  @screen lg {
    @apply font-h6;
    @apply leading-h6;
    @apply text-h6;
  }
}

p {
  @apply font-p;
  @apply text-p;
  @apply text-default;
  @apply leading-default;
}

.appContainer {
  @apply max-w-app-width;
  margin: 0 auto;
}

.script {
  @apply font-h;
  @apply text-script;
  @apply leading-script;
}

.btn {
  @apply bg-primary;
  @apply px-btn-x;
  @apply py-btn-y;
  @apply text-white;
  @apply font-h1;
  line-height: 20px;
  border-radius: 10px;

  &:hover {
    @apply bg-primary-hover;
  }

  > p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    @apply text-white;
    line-height: 20px;
  }
}

.full-center {
  @apply flex;
  @apply items-center;
  @apply justify-items-center;
}

@mixin stickyBtn {
  position: fixed;
  bottom: 40px !important;
  z-index: 9999;
}

.stickyBtn {
  @include stickyBtn();
}

// FACEBOOK MESSENGER Plugin
[class*="fb_dialog_content"] {
  > iframe {
    @include stickyBtn();
    transform: scale(calc(5 / 6));
    transform-origin: bottom right;
  }
}

// iframe {
//   z-index: 0 !important;
// }

//----
.flexContainer {
  @apply flex;
  @apply flex-col;
  @apply relative;
  padding: 50px 20px;

  @screen lg {
    @apply flex-row;
    @apply justify-center;
    padding: 100px 15px;
  }
}

.floatFlex {
  @apply flex;
  @apply flex-1;
  @apply flex-col;
  @apply justify-center;
  @apply relative;
  z-index: 1;
}

.textScript {
  @apply font-script;
  @apply text-script;
  @apply text-primary;
  @apply leading-script;
  @apply font-bold;
}

.input {
  @apply bg-white;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.blurImage {
  filter: blur(0);
  img {
    filter: blur(25px);
  }
}

.blur-up {
  -webkit-filter: blur(25px);
  filter: blur(25px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.link {
  text-decoration: underline;
}

.svgIconIncluded {
  > svg {
    > path {
      @apply stroke-current;
      stroke-width: 2px;
    }
  }
}
